footer {
    background-image: url("/img/dc-footer.jpg");
    background-size: cover;
    background-color: #282828;
    padding: 1em;
    bottom: 0;
    position: absolute;
    width: 100%;
    h5 {
        font-weight: bold;
        color: $primary-color;
    }
    hr {
        margin-top: 0 !important;
    }
    small {
        float: right;
        color: white;
    }
    .footer-menu {
        list-style-type: none;
        li a {
            color: #fff !important

        }
        li a:hover {
            color: $primary-color !important;
        }
    }
}
