.news-list {
    margin-bottom: 20em;
    h3 {
        font-weight: bold;
        color: $primary-color;
    }
    .news-divid {
        margin: 0.5em 0
    }
    .news-title {
        font-weight: bold;
        color: #0077ef;
    }
    p {
        margin-bottom: 3px;

    }
    strong {
        float: right;
        color: #0077ef;
    }
    .published {
        color: #0a0a12;
    }
    .news-description{
        color: #0a0a12;
    }
}

.old-news {
    background-color: #f2f2f2;
    border: 1px solid #d9d9d9;
    .old-news-heading{
        h3 {
            background-color: white;
            margin: 5px;
            padding: 5px;
            border: 1px solid #d9d9d9;
        }
    }
    .news-divid {
        margin: 0 auto;
    }
    .news-post-list{
        padding: 0px 5px 5px 5px;
    }
    .news-post {
        background-color: white;
        padding: 5px;
        .news-date {
            float: right;
        }
        .news-title {
            margin-bottom: 0.5em !important;
        }
        hr {
            margin: 0 !important;
        }
    }
}
